.container {
    max-width: 1440px;
}

#loupe{
    border: none;
}

.cellule {
    flex: 0 0 30%;
    max-width: 30%;
    max-height: 30%;
}

.titre-recette, .temps {
    font-size: 1rem;
}
.temps {
    font-size: 0.8rem;
}


.ingredient-recette {
    font-size: 0.7rem;
    line-height: 1.2;
}

.description-recette {
    font-size: 0.7rem;
}

.description {
    width: 85%;
    line-height: 1.2;
}

.imageRecette{
    height: 64%;
    max-height: 65%;
}

.descriptifRecette {
    height: 60%;
    max-height: 240px;
    overflow: hidden;
}
/*  */
#menuIngredient {
    border-radius: 0px 0px 5px 5px;
}

#menuItemIngredient {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#menuItemIngredient p {
    font-size: 1.1rem;
}